body,html{
	overflow-x: hidden;
	min-width: 320px;
}

.animation a:hover i{
	transform: rotate(360deg);
	transition: 1s;
}

.animation-footer a:hover i{
	transform: rotate(-360deg);
	transition: 1s;
}

.caixa{
	padding: 60px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

header{
	padding: 0!important;
}

header .btn{
	border-radius: 20px;
}

header .btn:hover{
	color: #666666;
}

header .nav-link{
	border-radius: 20px;
}

header .nav-link:hover{
	background: rgba(255,255,255,.8);
	transition: all .5s;
}

footer p{
	margin: 0 auto;
}

footer p a{
	margin: 5px 5px;
}

@media (max-width: 575.98px) {
	.display-4{
		font-size: 2.5rem!important;
	}
	.btn-text{
		font-size: .8rem;
		display: flex;
		align-items: center;
	}
	.caixa{
		padding: 30px 0;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	.beneficio{
		margin: 15px;
	}
}
